@import url('https://fonts.googleapis.com/css2?family=Poppins:wgth@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* aman */

body {
    color: #fff;
    background: #09001d;
    overflow: hidden;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-content: center;
    z-index: 100;
}

.logo {
    font-size: 40px;
    /*Ideal Size In Video Is 32px*/
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    filter: drop-shadow(0 0 5px #09001d);
}

.navbar a {
    font-size: 15px;
    /*Ideal Size In Video Is 10px*/
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: #c40094;
}

.main {
    min-height: 100vh;
    background: url('ABOUT.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    pointer-events: auto;
    transition: .3s ease;
}

.main.active {
    filter: blur(100px);
    pointer-events: none;
}

.container {
    display: flex;
    height: 100vh;
    width: 200%;
}

.home {
    position: relative;
    left: -25%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.home-content {
    max-width: 1600px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.home-content h1 {
    font-size: 78px;
    font-weight: 700;
    text-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

.home-content p {
    font-size: 25px;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, .3);
    margin-bottom: 30px;
}
