body {
    font-family: 'Arial', sans-serif;
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('./images/abs_bg.avif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  

  h1{
    margin-bottom: 100px;
  }
  .login-container {
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    width: 300px;
    height: 500px;
    background-image: url(./images/container_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: inherit;
    background-color: rgb(24, 23, 23);
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  input {
    width: 230px;
    padding: 8px;
    margin-bottom: 35px;
  }
  

  /* Add these styles to your existing CSS or create a new stylesheet */

/* Base button styles */
.login-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
  }
  
  /* Default button color */
  .login-button {
    background-color: #3498db;
    color: #fff;
  }
  
  /* Button color on hover */
  .login-button:hover {
    background-color: #2980b9;
  }
  
  .error-message {
    color: red;
  }
  